
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    
    <title>Jared S. Murray, PhD</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.url }}/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53470174-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="{{ page.about }}"><a href="{{ site.url }}/" title="About">ABOUT</a></li>
          <li class="{{ page.research }}"><a href="{{ site.url }}/research" title="Research">RESEARCH</a></li>
          <li class="{{ page.teaching }}"><a href="{{ site.url }}/teaching" title="Teaching">TEACHING</a></li>
          <li class="{{ page.software }}"><a href="{{ site.url }}/software" title="Software">SOFTWARE</a></li>
          <li class="{{ page.cv }}"><a href="{{ site.url }}/files/cv.pdf" title="CV">CV</a></li>
          <!-- <li class="{{ page.contact }}"><a href="/contact" title="Contact">CONTACT</a></li> -->
        </ul>
        <h3 class="text-muted">Jared S. Murray</h3>
      </div>
<!---
      <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
-->

      {{ content }}

      <div class="footer">
        <p align="center">
        <a href="mailto:jared.murray@mccombs.utexas.edu">jared.murray@mccombs.utexas.edu</a>
        </p>
        <p align="center">
Assistant Professor of Statistics<br>
2110 Speedway, B6500, Austin, Texas 78712 <br>
(512) 471-4130 
        </p>
      </div>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
